# Virtualenv
/.venv/
/venv/

.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints/

/images/res/*.jpg
/eval_results/
/results/
/weights/
/annotation_json/
/config/__pycache__/
/tools/__pycache__/
/model/__pycache__/


/external/DCNv2/_ext.cp36-win_amd64.pyd
/external/DCNv2/build/
/external/DCNv2/DCNv2.egg-info/
/inference_model/
/output/



*.log
*.pdparams
*.npz
*.zip
*.pt
*.pth



