# Virtualenv
/.venv/
/venv/

.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints/

/images/res/*.jpg
/eval_results/
/results/
/weights/
/annotation_json/
/config/__pycache__/
/tools/__pycache__/
/model/__pycache__/


/yolov3_r50vd_dcn_obj365_dropblock_iouloss/
/inference_model/
/output/



*.pdparams
*.npz
*.zip
*.pt
*.pth



